#menu span {
	font-weight: bold;
}

#menu ul {
	display: inline-block;
	margin: 0;
	padding: 0;
}

#menu ul > li {
	display: inline-block;
	margin: 0;
}

#menu a {
	text-decoration: none;
	color: #222;
	padding: 0 10px;
}

.active {
	color: #362 !important;
}